body {
    background-color:#963d22;
    margin:0;
}

header {
    background-color: #963d22;
    border-color:#b6a33a;
    border-bottom-style: solid;
    padding-bottom: 0.1%;
    padding-left: 0.1%;
    display: flex;
    justify-content: space-between;
}



.blurb {
    border-style: solid;
    border-color:#b6a33a;
    margin-top: 5px;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

